:root {
  background-image: url("~/src/bg.jpg");
  background-size: 20%;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-shadow: 1px 1px 2px grey;
}
#content {
  margin-left: 8vw;
  margin-right: 8vw;
}

#content > h1 {
  text-align: center;
  padding: 0.5rem;
  background-color: white;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  letter-spacing: -0.1em;
  margin: inherit;
  border-radius: 25px;
  border: 2px solid grey;
  font-size: 2.5em;
  overflow:hidden;
  opacity: 85%;
}

#content > p {
  background-color: white;
  font-size: 1.2em;
  text-indent: 3%;
  padding: 0.5rem;
  line-height: 1.5;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  border-radius: 35px;
  border: 2px solid grey;
  opacity: 90%;
  margin-left: 8vw;
  margin-right: 8vw;
}

.images {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

img {
  padding: 5px;
  gap: 5px;
  width: 40%;
  border-radius: 30px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 10px;
  opacity: 80%;
}

li > a {
  color: black;
  background-color: white;
  flex: 1;
  font-size: large;
  border: 1px solid blue;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
}

nav > ul > li :hover {
  background-color: blue;
  color: azure;
}

.menu {
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  padding: 10px;
  gap: 5px;
  flex-wrap: wrap;
}

.item {
  width: 400px;
  height: 250px;
  flex: auto;
  border: solid 2px;
  padding: 1%;
  background-color: white;
  overflow: scroll;
  opacity: 90%;
}

footer {
  display: flex;
  justify-content: center;
  letter-spacing: 0.1em;
  white-space:pre;
  background-color: white;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 1.5em;
  font-style: italic;
  text-shadow: 1px 1px 2px black;
  border-radius: 5px;

  opacity: 80%;
}
footer > a {
  color: rgb(19, 226, 26);
}